---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Herounit from '../components/Herounit.astro';
import Section1 from '../components/Section1.astro';
import Section2 from '../components/Section2.astro';
import Section3 from '../components/Section3.astro';
import Section4 from '../components/Section4.astro';
import Section5 from '../components/Section5.astro';
import Section6 from '../components/Section6.astro';
import "../styles/global.css";

---
<MainLayout title="Titel">
		
		<Herounit></Herounit>
		
	<div class="px-8">
		<Section1></Section1>
 	</div>

	<div class="px-8">
		<Section2></Section2>
	</div>

	<div class="gron">
		<Section3></Section3>
	</div>

	<div class="px-8">
		<Section4></Section4>
	</div>
	
	<div class="gul">
		<Section5></Section5>
	</div>

	<div  class="px-8">
		<Section6></Section6>
	</div>

</MainLayout>

<style>
	.gron{
		background-color: #A7CE9D;
	}

	.gul{
		background-color: #F2C063;
	}

</style>