---
---
<div class="gul py-8">
    <section class="px-8 py-8 flex justify-center max-w-5xl mx-auto">
        <p></p>
        <p>Copyright © 2024 Digital Cleanup Day & Let's Do It World</p>
        <p></p>
    </section>


   <div class="px-8 text-center max-w-5xl mx-auto">
       
        <p class="first-line:font-bold first-line:text-green-800 lg:px-20">Digitalt affald er alle de filer, billeder, videoer, apps og e-mails som vi aldrig bruger, men ligger gemt på vores computer, tablets og mobiler. Selv når vi ikke bruger filerne forbruger filerne energi.</p>
       </div>


</div>


<style>
	.gul{
		background-color: #F2C063;
	}

</style>