---
import { Image } from 'astro:assets';
import hero from '../assets/images/hero.svg';
import Button from './Button.astro';

---
<section class="grid grid-cols-1 md:grid-cols-3 items-center"><!-- section herounit-->
    <div class="col-span-1 md:col-span-2">
        <Image src={hero} alt="A bird sitting on a nest of eggs." class="w-full h-full object-cover object-center"/>
    </div>

    <div class="col-span-1 md:col-span-1 bg-green-800 md: pt-8 pl-8 pb-8 md:flex md:flex-col justify-center items-center h-full"> <!-- Updated padding classes -->
        <h1 class="font-bold text-2xl text-white md:text-center">Digital skraldedag</h1>
        <h2 class="font-medium text-white pt-3 mb-10 md:text-center">16 Marts, 2024</h2>
        <Button variant="secondary" size="medium">Tilføj til din kalender</Button>
    </div>
</section>





