---
import { Image } from 'astro:assets';
import "../styles/global.css";
import logo from"../assets/images/logo.svg"
---
<div x-data="{ showmenu: false }" class="py-4 fixed lg:static w-full gul section-background-animation">
    <div id="navbar" class="flex flex-row justify-between items-center">
        <div id="logo" class="pl-10">
            <a href="#link1">
                <Image src={logo} alt="A bird sitting on a nest of eggs." width="50" height="50"/>
            </a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row justify-around gap-7 px-8 text-s text-green-800 font-bold">
                <li><a href="#section1">Hvad er DCD</a></li>
                <li><a href="#section3">Vidste du</a></li>
                <li><a href="#section4">Digital oprydning</a></li>
                <li><a href="#section5">Sletning</a></li>
                <li><a href="#form">Registrer dit affald</a></li>
            </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden pr-4 text-s text-green-800 font-bold" x-on:click="showmenu = !showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center pt-4 section-background-animation" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="text-s text-green-800 font-bold">
            <li class="text-center py-2 border-y-2"><a href="#section1">Hvad er DCD</a></li>
            <li class="text-center py-2 border-b-2"><a href="#section3">Vidste du</a></li>
            <li class="text-center py-2 border-b-2"><a href="#section4">Digital oprydning</a></li>
            <li class="text-center py-2 border-b-2"><a href="#section4">Sletning</a></li>
            <li class="text-center py-2 border-b-2"><a href="#form">Registrer dit affald</a></li>
        </ul>
    </nav>
</div>


<style>
	.gul{
		background-color: #F2C063;
	}

</style>