---
import { Image } from 'astro:assets';
import hund from '../assets/images/20210106_135512.jpg';
---

	<section class="px-8 py-20 mt-32 grid lg:grid-cols-2 gap-8 max-w-5xl mx-auto " id="section3">
			<div class="grid gap-8  ">
		<h2 class="font-bold text-2xl text-green-800 text-center">VIDSTE DU AT</h2>	
				<article>
					<p>Hvis 70 millioner streamingabonnenter sænkede videoens kvalitet på deres streamingtjenester fra HD til Standard, ville der være en månedlig reduktion på 3,5 millioner tons CO2 - svarende til at eliminere 6% af den samlede månedlige kulforbrug i USA.</p>
				</article>
                <article>				
					<p>En medarbejder, der deltager i 15 timer online møder med sit kamera tændt, skaber 9,4 kg CO2 om måneden. Ved at slukke for videoen ville han spare samme mængde emissioner, som der skabes ved at oplade en smartphone hver nat i over 3 år (1151 dage).</p>
				</article>
                <article>			
					<p>Med den energi, du bruger til videostreaming (i gennemsnit 2 timer om dagen), kunne du pendle op til 3000 km eller 2000 miles med en elektrisk scooter om året. Det er et transportbudget på 8 km eller 5 miles om dagen</p>
				</article>
                <article>				
					<p>Google bruger 15.616 MWh energi hver dag, dette er mere end Hoover Dam producerer, og det ville forsyne et helt land med 1 million indbyggere med strøm i en dag.</p>
				</article>
				 <article>			
					<p>Vores grænseløse forbrug af data i dag kræver 3 gange mere energi end alle solpanelerne i verden kan producere. Vores internetvanvid fungerer mest på fossile brændstoffer, så at klikke, scrolle og streame er ansvarlig for mere end 870 millioner tons CO2, hvilket tilføjer mere kraft til den dødelige globale opvarmningstendens.</p>
				</article>
				 <article>				
					<p>Hver dag suser 281 milliarder e-mails rundt om vores planet. Opdatering, læsning og besvarelse af vores arbejdsemails tager mere end 3 timer om dagen, 5 hvis du inkluderer personlige emailkonti. Det kan tage mere end 23% af vores arbejdsdag, mere end 20 uger om året. At organisere dine e-mails, sende færre af dem og bruge alternative kommunikationsformer, som f.eks. co-working spaces, ville frigøre den tid, men også begrænse den ineffektive praksis med at organisere arbejde via e-mails.</p>
				</article>
				
			</div>
				
            <div>
					
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 
            </div>
				
	</section>