---
import Button from '../components/Button.astro';
---
	
	<section class="mt-8 lg:mt-20 max-w-5xl mx-auto" id="section4">

    <h2 class="font-bold text-3xl text-green-800 text-center drop-shadow-md">HVORDAN MAN LAVER EN DIGITAL OPRYDNING?</h2>
    <h3 class="pb-8 text-xl text-amber-500 text-center">RETNINGSLINJER FOR INDIVIDUELLE</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto mt-4">
        <article>
            <h2 class="font-bold text-xl text-amber-500 drop-shadow-md">STEP 1</h2>
            <h3 class="text-amber-500">RYD OP PÅ DIN SMARTPHONE</h3>
            <p class="text-s">Fjern alle applikationer, som du ikke har brugt i et stykke tid, eller som du kun har brugt få gange. Vær ærlig og dristig! Slet alle de unødvendige glemte gamle apps og spil, som du har downloadet, men endnu ikke rigtig har prøvet. Du vil ikke begynde at bruge dem senere – det er sikkert! De forbruger energi, selv når de ikke er i brug, og kan forbruge flere hundrede megabyte data om måneden til opdateringer.

                Glem ikke at slette eventuelle brugerkonti (inklusive e-mails) og alle dens data, som du oprettede, da du var 15, og som du ikke har tilgået i et årti. Du vil øge hastigheden på din telefon og forlænge batterilevetiden – det er altid værd at have så få apps som nødvendigt.

                Gennemgå dine fotos og videoer. Ved at slette det unødvendige og duplikaterne kan du frigøre titusindvis af gigabyte værdifuld lagringsplads. Se retningslinjerne for, hvordan du rydder op på din smartphone og tablet.
            </p>
        </article>
        <article>
            <h2 class="font-bold text-xl text-amber-500 drop-shadow-md">STEP 2</h2>
            <h3 class="text-amber-500">RYD OP PÅ DIN PC ELLER BÆRBARE COMPUTER</h3>
            <p class="text-s">Ryd op på din PC og slet filer, der er duplikater, eller som er blevet ubrugelige. Sorter dine fotos, slet duplikaterne og de slørede. Gennemgå videoer og slet sete eller unødvendige filer. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer! Se retningslinjerne for, hvordan du rydder op på din computer og drev.
            </p>
        </article>
        <article>
            <h2 class="font-bold text-xl text-amber-500 drop-shadow-md">STEP 3</h2>
            <h3 class="text-amber-500">RYD OP I DIN INDBAKKE</h3>
            <p class="text-s">Filtrér e-mails efter de ældste og arkiver dem. AFBESTIL nyhedsbreve, som du ikke læser. Vælg lange samtaler, vælg den nyeste, og SLET alt andet. Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem som en masse. Vær modig og klik på SLET-knappen. Se retningslinjerne for, hvordan du rydder op i din indbakke!</p>
        </article>
        <article>
            <h2 class="font-bold text-xl text-amber-500 drop-shadow-md">STEP 4</h2>
            <h3 class="text-amber-500">LAV NYE ARRANGEMENTER</h3>
            <p class="text-s">I stedet for at sende e-mails, brug mere co-working steder. Hold op med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer i skyen et sted, så der ikke er behov for at have den samme fil på hver computer. Tænk først, før du laver en sikkerhedskopi. Lav mindre "hurtigt-indhold" og vær mere intentionel omkring dine videoer og fotos. Sørg for kun at lave en sikkerhedskopi af filer, som du har brug for, og fotos, som du elsker.

                Små ændringer i dine internetvaner såsom at slukke for video under et virtuelt møde, reducere kvaliteten af streamingtjenester, mindske tiden brugt på spil, begrænse tiden brugt på sociale medier og afmelde nyhedsbreve og e-mail-lister kan markant reducere din miljømæssige fodaftryk!
            </p>

			<p class="text-s font-bold text-green-800 pt-10"> VÆR KREATIV OG LEV LET!</p>
        </article>
    </div>

    <div class="mt-10 mb-10 flex justify-center ">
        <Button variant="primary" size="large">Del med en ven</Button>
    </div>

</section>
