---
import { Image } from 'astro:assets';
import hund from '../assets/images/20210106_135512.jpg';
---

		<section>
            <div class="text-center">
                <h2>Hvad er digtital skrald</h2>
                <p></p>
            </div>
			
            <div class="mt-8 flex place-content-center gap-2">
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>  
            </div>

		</section>