---
import { Image } from 'astro:assets';
import hund from '../assets/images/20210106_135512.jpg';
import Button from '../components/Button.astro';
---

        <section>
			 <div class="mt-32 grid lg:grid-cols-3 mx-auto gap-4">
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>  
            </div>

            <div  class="mt-8">
				<Button variant="secondary" size="large">Inviter en ven</Button>	
			</div>
		</section>