---
import { Image } from 'astro:assets';
import hund from '../assets/images/20210106_135512.jpg';
---

	<section class="mt-32 grid lg:grid-cols-2 max-w-5xl mx-auto ">
			<div>
		<h2>vidste du</h2>	
				<article>
					<h3>overskrift</h3>
					<p></p>
				</article>
                <article>
					<h3>overskrift</h3>
					<p></p>
				</article>
                <article>
					<h3>overskrift</h3>
					<p></p>
				</article>
                <article>
					<h3>overskrift</h3>
					<p></p>
				</article>
			</div>
				
            <div>
					
                 <Image src={hund} alt="A bird sitting on a nest of eggs." width="125" height="250"/>
                 
            </div>
				
	</section>