---

---
	<section class="px-8 py-20 lg:mt-32 max-w-5xl mx-auto">

    <h2 class="font-bold text-3xl  text-green-800  text-center pb-10">Hvordan ved jeg, hvor meget jeg har slettet?</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20 mx-auto mt-4">
        <article>
			<h2 class="font-bold text-xl text-green-800 pb-5">Slet emails</h2>
           <ol class="list-decimal">
  <li>Tjek den aktuelle størrelse på din indbakke.

Gå til Outlook > Filer > Indbakkeindstillinger > skriv antallet af ledige GB i din indbakke ned. Glem ikke dette, ellers vil du ikke kende resultaterne af dine oprydningsindsatser!</li>
  <li class="pt-5 text-s"> Filtrer e-mails efter den ældste, du har, og saml dem i én mappe.
</li>
<li class="pt-5 text-s">
Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem som en masse. Vær modig og klik på SLET-knappen.
</li>

<li class="pt-5 text-s">
	Vælg lange samtaler, vælg den nyeste, og SLET alt andet. Hvis det heller ikke er relevant, så tør at slippe af med den sidste.
</li>


<li class="pt-5 text-s">
	. Afmeld dig fra alle nyhedsbreve, der ikke har vundet din dybere opmærksomhed. Du vil helt sikkert ikke læse dem i fremtiden.
</li>

<li class="pt-5 text-s">
	FYI-e-mails (til din orientering) – bare SLET!

</li>

<li class="pt-5 text-s"> OK-e-mails (chats med en stor gruppe mennesker, som du kunne gøre i andre kanaler) – bare SLET!</li>

<li>Bloker uønskede afsendere. Gå til Hjem-visning > Uønsket > Bloker afsender.</li>

<li class="pt-5 text-s"> Slå e-mailmeddelelser fra apps og sociale medier fra.</li>

<li class="pt-5 text-s"> Slet gamle aftaler fra dine online kalendere. Alle de overskredne aftaler akkumuleres i din kalendermappe og skaber digitalt affald. Gør det til din ugentlige rutine at slette dem.</li>
</ol>
        </article>
        <article>
            <h2 class="font-bold text-xl text-green-800 pb-5">Ryd op i mobilstorage</h2>
                      <ol class="list-decimal">
  <li>Skriv den aktuelle ledige plads på din mobiltelefon ned.

 Android-telefoner: Menu > Indstillinger > Lagerplads

 iPhones: Indstillinger > Generelt > Lagerplads

Glem ikke dette, ellers vil du ikke kende dine oprydningsresultater!</li>
  <li class="pt-5 text-s">  Tør at slette alt unødvendigt

Din telefon skal have mindst 1 GB hukommelsesplads fri. Fjern alle applikationer, som du ikke har brugt eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte, gamle apps og spil, som du har downloadet, men aldrig rigtig har brugt. Du vil ikke begynde at bruge dem senere – det er sikkert!

Du kan også slette din telefons forudinstalleret applikationer, men sørg for, at du ikke fjerner systemapplikationer.
</li>
<li class="pt-5 text-s">
Plej din cache

Det er værd at rydde din telefons cache fra tid til anden.

 På Android-telefoner, gå til Indstillinger > Tryk på Lagerplads > Find den applikation, du vil rydde > Ryd cache

På iPhones, gå til Indstillinger > Safari > Ryd historik og webstedsdata > Ryd historik og data

Kontroller også, hvor meget plads dine apps tager, gå til Indstillinger > Generelt > Brug (iPhone). Du bør slette de tungeste apps og geninstallere dem igen. Du vil blive overrasket over, hvor meget mere plads dette giver dig.
</li>

<li class="pt-5 text-s">
	Opbevar dine vigtige dokumenter i skyen og fotos og videoer på eksterne harddiske.

Har du virkelig brug for ti versioner af det samme billede, eller kunne du gemme kun det bedste? Det er typisk at holde dine mest værdifulde minder kun på din telefon, og det er en stor risiko for at miste dem alle på én gang! Så opbevar dine personlige fotos og videoer på eksterne harddiske, og dine vigtige dokumenter i skytjenester som iCloud, Dropbox eller Microsoft OneDrive.

På eksterne harddiske er dine billeder og videoer sikre uden at optage plads på din telefon. Ekstern lagring er en billig måde at opbevare dine minder på uden at bekymre dig om at miste dem. Hvis du ikke har gjort dette før, er det nu tid til at begynde!
</li>


<li class="pt-5 text-s">
	Gå tilbage til den oprindelige størrelse på din telefonens lager – se det tal, du skrev ned i begyndelsen, og kontroller derefter den aktuelle størrelse og lav beregningerne – hvor mange GB lykkedes det dig at slette?
</li>

<li class="pt-5 text-s">
	. Til sidst, gå tilbage til vores kampagneside og udfyld antallet af slettede gigabyte. Hvis du vil fortsætte med at rydde op, kan du deltage igen og udfylde de nye tal.

</li>

					  </ol>
        </article>
	</section>