---
import Button from '../components/Button.astro';
---
	
	<section class="mt-32">

		<h2>Hvordan man fjerner digtital skrald</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 mx-auto mt-4 gap-8">
				<article>
					<h3>overskrift</h3>
					<p></p>
				</article>
                <article>
					<h3>overskrift</h3>
					<p></p>
				</article>
                <article>
					<h3>overskrift</h3>
					<p></p>
				</article>
                <article>
					<h3>overskrift</h3>
					<p></p>
				</article>
            </div>

			<div class="mt-8 items-center">
				<Button variant="secondary" size="large">knap</Button>	
			</div>
				
	</section>